{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<br><br><br><br><br>
    <div class="flex-w flex-sb-m p-b-52" style="margin-left: 100px;">
        <div class="flex-w flex-l-m filter-tope-group m-tb-10">
            <a href=" {% url 'profile' %} " class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 " data-filter=".profile">
                profile
            </a>
            <a href="{% url 'address' %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter=".address">
                address
            </a>
        </div>
    </div>
    <div class="row isotope-grid" style="margin-left: 100px;">
        
            <div class="col-sm-6 offset-sm-1  isotope-item address">
            <!-- Block2 -->
            {% for ad in addr %}
            <br>
            <div class="card">
                    <div class="card-body">
                        <h3>Address {{forloop.counter}}</h3>
                        <p>Name: {{ad.name}}</p>
                        <p>Address 1: {{ad.locality}}</p>
                        <p>Address 2: {{ad.city}}</p>
                        <p>State: {{ad.zipcode}}</p>
                    </div>
            </div>
            
            {% endfor %}
            </div>
            
    </div>
  <br>
  <br>
{% endblock main-content %}